<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daxiongmao.mapper.BasicInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.daxiongmao.domain.BasicInfo">
            <id property="number" column="number" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="englishName" column="english_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="dna" column="DNA" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="roostPosition" column="roost_position" jdbcType="VARCHAR"/>
            <result property="birth" column="birth" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        number,name,english_name,
        gender,DNA,image,
        roost_position,birth
    </sql>
</mapper>
